<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Component List</title>
</head>
<body>
    <ul>
        <li><a href="configure-category/configure-category.html">configure-category/configure-category.html</a></li>
<li><a href="choose-wordclass/choose-wordclass.html">choose-wordclass/choose-wordclass.html</a></li>
<li><a href="edit-word/edit-word.html">edit-word/edit-word.html</a></li>
<li><a href="annotate-text/annotate-text.html">annotate-text/annotate-text.html</a></li>
    </ul>
</body>
</html>